.about {
  h1 {
    position: relative;
    font-size: 48px;
    color: #111138;
    line-height: 1.45;
  }

  h2 {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0px;
    border-bottom: none;
    font-size: 36px;
    &::after {
      position: absolute;
      display: block;
      bottom: 16px;
      right: -15px;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: #277cec;
      content: "";
    }
    // &::before {
    //   content: "";
    //   position: absolute;
    //   display: block;
    //   top: 18px;
    //   left: -2px;
    //   width: 104%;
    //   height: 10px;
    //   background-color: #d6ddff;
    //   content: "";
    //   z-index: -1;
    // }
  }

  h3 {
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    color: #277cec;
    &::after {
      position: absolute;
      display: block;
      bottom: 4px;
      right: -18px;
      color: #277cec;
      content: "_";
      animation: blink 1s linear infinite;
    }
  }

  @keyframes blink {
    0% {
      color: #277cec;
    }
    100% {
      color: transparent;
    }
  }

  h4 {
    position: relative;
    display: block;
    width: fit-content;
    color: #101031;
  }

  li {
    font-size: 16px;
    color: #242436;
  }

  div.final {
    margin-top: 5em !important;
  }

  code.language-text {
    color: #ee587e;
    border: 1.4px solid #ee587e;
    background-color: transparent;
  }

  a {
    color: #4395ff;
  }
}
